<!-- Sidebar -->
<ul th:fragment="sidebar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="http://localhost:8080">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Examen 2 <sup>UNT</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="http://localhost:8080">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Operaciones
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
           aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-calendar-check"></i>
            <span>Reservas</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/crearReserva">Crear Reserva</a>
                <a class="collapse-item" href="/listarReservas">Reservas</a>
            </div>
        </div>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Matenedores
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <!-- Sección Automóviles -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAutomoviles"
           aria-expanded="true" aria-controls="collapseAutomoviles">
            <i class="fas fa-fw fa-car"></i>
            <span>Automóviles</span>
        </a>
        <div id="collapseAutomoviles" class="collapse" aria-labelledby="headingAutomoviles"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/crearAutomovil">Crear Automóvil</a>
                <a class="collapse-item" href="/listarAutomoviles">Lista de Automóviles</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Pages Collapse Menu - Clientes -->
    <!-- Sección Clientes -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseClientes"
           aria-expanded="true" aria-controls="collapseClientes">
            <i class="fas fa-fw fa-users"></i>
            <span>Clientes</span>
        </a>
        <div id="collapseClientes" class="collapse" aria-labelledby="headingClientes"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/listarClientes">Lista de Clientes</a>
                <a class="collapse-item" href="/crearCliente">Crear Cliente</a>
            </div>
        </div>
    </li>

    <!-- Sección Garajes -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGarajes"
           aria-expanded="true" aria-controls="collapseGarajes">
            <i class="fas fa-fw fa-warehouse"></i>
            <span>Garajes</span>
        </a>
        <div id="collapseGarajes" class="collapse" aria-labelledby="headingGarajes" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/listarGarajes">Lista de Garajes</a>
                <a class="collapse-item" href="/crearGaraje">Crear Garaje</a>
            </div>
        </div>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Configuracion
    </div>
    <!-- Sección Usuarios -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUsuarios"
           aria-expanded="true" aria-controls="collapseUsuarios">
            <i class="fas fa-fw fa-user"></i>
            <span>Usuarios</span>
        </a>
        <div id="collapseUsuarios" class="collapse" aria-labelledby="headingUsuarios"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/listarUsuarios">Lista de Usuarios</a>
                <a class="collapse-item" href="/crearUsuario">Crear Usuario</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->