<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:insert="~{fragments/head :: headerFragment (pageTitle='Automoviles')}">
    <!-- other elements you want to reference in your layout -->
</head>


<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <ul th:replace="~{fragments/sidebar :: sidebar}"></ul>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <ul th:replace="~{fragments/navbar :: navbar}"></ul>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Automoviles</h1>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex justify-content-between align-items-center">
                        <h6 class="m-0 font-weight-bold text-primary">Automoviles Registrados</h6>
                        <button type="button" class="btn btn-primary" id="createButton"
                                onclick="window.location.href='/crearAutomovil'">Crear
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Matrícula</th>
                                    <th>Modelo</th>
                                    <th>Color</th>
                                    <th>Marca</th>
                                    <th>Estado</th>
                                    <th>Galones</th>
                                    <th>Garaje</th>
                                    <th>Acciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal de Edición de Automóvil -->
            <div class="modal fade" id="editarAutomovilModal" tabindex="-1" role="dialog"
                 aria-labelledby="editarAutomovilModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editarAutomovilModalLabel">Editar Automóvil</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="formEditarAutomovil">
                                <input type="hidden" id="automovilId" name="automovilId">
                                <div class="form-group">
                                    <label for="matricula">Matrícula</label>
                                    <input type="text" class="form-control" id="matricula" name="matricula" required>
                                </div>
                                <div class="form-group">
                                    <label for="modelo">Modelo</label>
                                    <input type="text" class="form-control" id="modelo" name="modelo" required>
                                </div>
                                <div class="form-group">
                                    <label for="color">Color</label>
                                    <input type="text" class="form-control" id="color" name="color" required>
                                </div>
                                <div class="form-group">
                                    <label for="marca">Marca</label>
                                    <input type="text" class="form-control" id="marca" name="marca" required>
                                </div>
                                <div class="form-group">
                                    <label for="galones">Galones</label>
                                    <input type="text" class="form-control" id="galones" name="galones" required>
                                </div>
                                <div class="form-group">
                                    <label for="garaje">Garaje</label>
                                    <select class="form-control" id="garaje" name="garaje" required>
                                        <!-- Los valores de los garajes deben ser añadidos dinámicamente -->
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-primary" onclick="actualizarAutomovil()">Guardar
                                Cambios
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <footer th:replace="~{fragments/footer :: footer}"></footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div th:replace="~{fragments/logout :: logout}"></div>

<!-- Incluir los scripts comunes -->
<div th:insert="~{fragments/scripts :: scriptsFragment(jsFile='automoviles.js')}"></div>

</body>

</html>